appdirs==1.4.3
asn1crypto==0.22.0
certifi==2017.4.17
cffi==1.10.0
chardet==3.0.3
coverage==4.4.1
cryptography==1.9
etesync==0.5.1
furl==1.0.0
idna==2.5
orderedmultidict==0.7.11
packaging==16.8
peewee==2.10.1
py==1.4.33
pyasn1==0.2.3
pycparser==2.17
pyparsing==2.2.0
python-dateutil==2.7.2
Radicale==2.0.0
radicale-storage-etesync==0.1.4
requests==2.17.3
scrypt==0.8.0
six==1.10.0
urllib3==1.21.1
vobject==0.9.4.1
