name: CI

on:
  push:
    branches:
      - master

  pull_request:
    branches:
      - master

defaults:
  run:
    shell: bash

jobs:
  test:
    name: Python ${{ matrix.python }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    # The maximum number of minutes to let a workflow run
    # before GitHub automatically cancels it. Default: 360
    timeout-minutes: 30

    strategy:
      # When set to true, GitHub cancels
      # all in-progress jobs if any matrix job fails.
      fail-fast: false

      matrix:
        python:
          # Versions 3.0 - 3.5 are not provided by actions/python-versions
          - '3.9'
          - '3.10'
          - '3.11'
          - '3.12'
        os: [ubuntu-latest, windows-latest, macos-latest, macos-14, ubuntu-24.04]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 5

      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}

      - name: Minimal setuptools load-test
        run: |
          python -m pip install setuptools
          python setup.py --fullname
          python setup.py --description
          python setup.py --long-description

      - name: Success Reporting
        if: success()
        run: git log --format=fuller -5
