name: Build

on:
  create:
    tags:
      - v*
  workflow_dispatch:

jobs:
  build_pyinstaller:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-13, macos-13-xlarge]

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v5
        name: Install Python
        with:
          python-version: '3.10'

      - name: Update pip and install deps
        run: |
          python -m pip install --upgrade pip pyinstaller wheel
          python -m pip install setuptools
          python -m pip install -r requirements.txt .

      - name: Build binaries
        shell: bash
        run: |
          cd pyinstaller
          ./bundle.sh

      - uses: actions/upload-artifact@v4
        with:
          name: dist-${{ matrix.os }}
          path: ./pyinstaller/deploy/*
